*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
    background-color: rgb(55, 54, 70);
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#mapa{
    border: #8a7d99 25px solid
}
#pontuacao{
    color: white;
    font-size: 5vw;
    font-family: 'Roboto Mono', monospace;
}